### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
venv/
.secrets.json

### JS ###
node_modules/
*.map
*/static/app/*.js
