[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "==4.5.1"
boto = "==2.42.0"
"bs4" = "==0.0.1"
django-redis = "==4.5.0"
djangorestframework = "==3.9.0"
googlemaps = "==2.5.1"
lxml = "==3.6.4"
"psycopg2" = "==2.7.5"
pytz = "==2016.7"
redis = "==2.10.5"
requests = "==2.20.0"
Django = "==2.1.5"
Pillow = "==9.0.0"
uwsgi = "==2.0.17.1"

[dev-packages]
pylint = "*"

[requires]
python_version = "*"
